$blue: rgb(98, 199, 199);
* {
  font-family: 'Amatic SC', cursive;
}

h1 {
  color: tomato;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css');

body {
  background: rgb(232, 183, 255);
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: $blue;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
  border-radius: 6px;
  background-color: rgb(233, 225, 225);
  font-size: 28px;
}

.chatbar-username {
  flex: 2;
  border-radius: 6px;
  background-color: rgb(233, 225, 225);
  font-size: 28px;
}

.message {
  display: flex;
  padding: 5px;
  font-size: 20px;
}

.message.system {
  font-style: italic;
  padding: 5px 18px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  font-family: 'Open Sans Condensed', sans-serif;
}

.message-username {
  flex: 2;
  font-weight: 700;
  color: rgb(100, 99, 99);
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar {
  background: $blue;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: bolder;
  font-size: 48px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}
.navbar-users {
  float: right;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
}
